@import '~vuetify/src/styles/styles.sass';

#app {
  font-family: 'JetBrains Mono', monospace;

  .v-btn {
    letter-spacing: unset;
  }
  .yellow-highlight {
    text-shadow: 2px 2px #F4EE78;
  }
  .fine-print {
    font-size: 80%;
  }
  h1 {
    font-size: 84px;
    margin: 12px 0;
    line-height: 1;
    font-weight: 100;
    b, strong {
      color: #F4EE78;
    }
  }
  h2 {
    font-size: 36px;
    margin: 12px 0;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    b, strong {
      color: #F16623;
    }
  }
  h3 {
    text-transform: uppercase;
    // @extend .yellow-highlight;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    b, strong, a {
      font-weight: 600;
    }
  }

  .blue--bold--paragraph {
    p {
      b, strong {
        color: #1769A4;
      }
    }
  }
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    h1 {
      font-size: 54px;
    }
    h2 {
      font-size: 28px;
    }
  }
}