@import '~vuetify/src/styles/styles.sass';

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

#app {
  font-family: 'JetBrains Mono', monospace;

  .v-btn {
    letter-spacing: unset;
  }
  .yellow-highlight {
    text-shadow: 2px 2px #F4EE78;
  }
  .fine-print {
    font-size: 80%;
  }
  h1 {
    font-size: 84px;
    margin: 12px 0;
    line-height: 1;
    font-weight: 100;
    b, strong {
      color: #F4EE78;
    }
  }
  h2 {
    font-size: 36px;
    margin: 12px 0;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    b, strong {
      color: #F16623;
    }
  }
  h3 {
    text-transform: uppercase;
    &.no-uppercase {
      text-transform: none;
    }
  }

  p, li, ul {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    b, strong, a {
      font-weight: 600;
    }
  }

  .blue--bold {
    b, strong {
      color: #1769A4;
    }
  }
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    h1 {
      font-size: 54px;
    }
    h2 {
      font-size: 28px;
    }
  }
  .base-nav-link {
    position: relative;
    z-index: 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &.nav-link--active {
      &::before {
        background-color: #F4EE78;
        position: absolute;
        content: "";
        width: 90%;
        z-index: -1;
        bottom: 0;
        height: 16px;
        transform: translate(4px, 2px);
      }
    }
  }
  
  .nav-link {
    @extend .base-nav-link;
    color: #000000;
  }
  
  .footer-link {
    @extend .base-nav-link;
    color: #fff;
    &:hover, &.nav-link--active {
      &::before {
        background-color: #F16623;
      }
    }
  }

  .white-border--card {
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid white;
  }
}